* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
body {
     font-family: 'Raleway', sans-serif;
     margin: 0;
     padding: 0;
}
.header{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: rgb(255, 255, 255);
     width: 100%;
     padding: 10px 20px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 2;
     padding-bottom: 0;

}
.logo p a{
     text-decoration: none;
     color: black;   
     font-size: 26px;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 2px;     
}
.menu {
     margin-right: 10px;

}
.menu ul li{
     display: inline-block;
}
.menu ul li a{
     text-decoration: none;
     text-transform: uppercase;
     font-size: 15px;
     color: black;
     margin-right: 20px;
     margin-left: 20px;
}

/* ----------home style------------ */

.hero-section {
     background-image: url("/img/bg_3.jpg");
     background-repeat: no-repeat;
     background-position: center;
     height: 1085px;
     text-align: center;
     color: white;
     position: relative;
     margin-top: -30px;

     
}
.hero-section .content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-40%);
     width: 100%;
     
     
}
#title{
     font-family: "Playfair Display", serif;
     font-weight: bold;
     animation: wc-content .5s ;
}
#para{
     animation: wc-content .4s ;
     
}
#title h1{
     font-size: 80px;
     animation: wc-content .3s ;
}
#para p{
     font-size: 23px;
     padding-top: 20px;
     opacity: .6;
}
.hero-btn {
     margin-top: 50px;
}
.hero-btn a{
     color: rgb(255, 255, 255);
     text-decoration: none;
     font-family: serif;
     font-size: 18px;
     letter-spacing: 1px;
     cursor: pointer;
     border: 1px solid white;
     padding: 15px 45px;
}
.hero-btn a:hover{
     background-color: white;
     color: black;
     text-decoration: none;
     transition:  .5s;
}

@keyframes wc-content {
     from {
          transform: translateY(20px);
     }
     to {
          transform: translateY(-20px);
          
     }
}
#title,#para,#title h1 {
     transform: translateY(-20px);
}

/* ============about style================ */

.about-section {
     max-width: 1200px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px 40px;
     margin-top: 0;
     margin: 0 auto;
     margin-bottom: 150px;
     
}
.left-side {
     width: 500px;
     margin-right: 100px;
     margin-left: -20px;
     animation: left-side .5s;
}
.left-side  * {
     padding: 10px 0;
}
.left-side p,a{
     opacity: .6;
}
.left-side .headline {
     text-transform: uppercase;
     letter-spacing: 6px;
}
.left-side h1 {
     text-transform: uppercase;
     font-size: 40px;
     font-family: "Playfair Display", serif;
}
.left-side .text {
     padding-top: 30px;
     margin-bottom: 30px;
}
.left-side .btn {
     margin-top: 50px;
     text-decoration: none;
     color: black;
     border: 2px solid rgb(167, 167, 167);
     padding: 15px 35px;

}
.left-side .btn:hover {
     color: rgb(255, 255, 255);
     background-color:#e6a400 ;

}
.right-side img {
     width: auto;
     height: 350px;
     animation: right-side .5s;
     margin-right: -10px;
   
     
}

@keyframes left-side {
     from {
          transform: translateX(0px);
     }
     to {
          transform: translateX(30px);
          
     }
}
.left-side {
     transform: translateX(30px);
}
@keyframes right-side {
     from {
          transform: translateX(0px);
     }
     to {
          transform: translateX(-10px);
          
     }
}
.right-side img {
     transform: translateX(-10px);
}

/* ===========offer style========== */

.offer-section {
     background-color: #F8F9FA;
     padding: 20px 40px;
     padding-bottom: 280px;
     
}
.titel-area {
     margin-top: 150px;
     text-align: center;
}
.titel-area p{
     opacity: .5;
}
.titel-area .title{
     letter-spacing: 6px;
}
.titel-area h1{
     font-family: "Playfair Display", serif;
     font-size: 60px;
     font-weight: 400;
     padding: 20px 0;
}
.titel-area .text{
     font-size: 20px;
     max-width: 550px;
     text-align: center;
     margin: 0 auto;
     
}
.img-cards {
     margin-top: 50px;
     display: flex;
     flex-grow: 30px;
     justify-content: center;
     align-items: center;


}
.card {
     width: 400px;
     text-align: center;
     background-color: white;
     margin-left: 15px;

}
.card img{
     width: 400px;
}
.card .price {
     margin-top: 50px;
     color: #FDA403;
     font-size: 23px;
     margin-bottom: 10px;
}
.card .text {

     width: 280px;
     padding-top: 10px;
     margin: 0 auto;
     opacity: .6;

}
.odr-btn {

     margin: 20px;
     background-color: #f0ac00;
     display: inline-block;
     padding: 10px 30px;
}
.odr-btn a{
     text-decoration: none;
     color: rgb(255, 255, 255);
     opacity: 1;
     font-size: 14px;
}
.odr-btn:hover {
     background-color: #b97800;
}


/* ===========menu style========== */  

.menu-items-button {
     margin-top: 60px;
     display: flex;
     justify-content: center;
     text-transform: uppercase;
}
.item-button {
     border: 2px solid black;
     padding: 10px 30px;
     margin-left: 20px;
     opacity: .4;
     cursor: pointer;
}
.active {
     opacity: 1;
}
.menus {
     width: 1100px;
     margin: 0 auto;
     margin-top: 100px;
     animation-name: items-show;
     animation-duration: .5s;

}
 

.menu-items-area {
     margin-top: 50px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: center;
     grid-gap: 50px;

} 
.menu-items {
     width: 400px;
     margin-top: 20px;
     display: flex;
}
.menu-img img{
     height: 100px;
     border-radius: 50%;

     margin-right: 20px;
}
.menu-items .menu-title {
     padding-top: 5px;
}
.menu-items .menu-text {
     width: 400px;
     padding-top: 10px;
     opacity: .6;
}
.menu-items .price {

     margin: 20px;
     color: #FDA403;
     font-size: 23px;
     margin-left: 0;
}
#lunch-items, #dinner-items{
     display: none;
}



@keyframes items-show {
     from {
          transform: translateY(0px);
     }
     to {
          transform: translateY(-50px);

     }
}
.menus {
     transform: translateY(-50px);
}


/* ===========news style========== */

.news-section {
     background-color: #F8F9FA;
     padding: 20px 40px;
     padding-bottom: 280px;
}

.news-section .title {
     padding-top: 50px;
}
.news-section .odr-btn {
     margin-bottom: 50px;
}



/* ========gallery style */
.gallery-section {

}
.gallery-section .image-area {
     width: 1100px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 10px;
     margin-top: 50px;
     margin-bottom: 100px;
}
.gallery-section .image-area img {
     height: 380px;
}


/* ====contact style */

.contact-section {
     background-color: #F8F9FA;
     padding: 20px 40px;
     padding-bottom: 280px;
}


.contact-section .contact-area {
     width: 1100px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: center;
     margin-top: 80px;
     grid-gap: 120px;
}
.form-area {
     width: 580px;
} 
.form-area input{
     width: 100%;
     background-color: #E6E6E6;
     padding:15px 10px;
     font-size: 18px;
     opacity: .8;
     margin-bottom: 15px;
     border: none;
     outline: none;
}
.form-area input:future {
     border: none;
}
.form-area textarea {
     background-color: #E6E6E6;
     padding:15px 10px;
     font-size: 20px;
     opacity: .8;
     margin-bottom: 15px;
     border: none;
     width: 580px;
     resize: none;
     outline: none;
}

.form-area .send-btn {
     width: 200px;
     background-color: #f0ac00;
     color: white;
     opacity: 1;
     margin-left: 0;
     margin-top: -10px;
}
.form-area .send-btn:hover {
     background-color: #b97800;
}

.info-area img{
     height: 250px;
}
.info-area .address {
     margin-top: 15px;
}
.info-area .address p{
     margin-top: 5px;
}

.info-area .personal-contact {
     margin-top: 20px;
}
.info-area .personal-contact p {
     margin-top: 5px;
}
.info-area .personal-contact p:nth-child(3) {
     margin-top: 20px;
}

.info-area .email {
     color: #FDA403;
}


/*    footer style    */

footer {
     background-color: #222222;
     padding: 100px 40px 100px 40px;


}
.footer-area{
     width: 1100px;
     margin: 0 auto;
}
footer h3 {
     color: rgb(205, 205, 205);
     font-family: "Playfair Display", serif;
     font-size: 14px;
     margin-bottom: 20px;
}
footer a,p {
     color: rgb(116, 115, 115);
     font-family: "Raleway", sans-serif;
}

.first-row {
     display: grid;
     grid-template-columns: 1fr 2fr;
}
.col-about-us p{
     width: 90%;
     line-height: 25px ;
}
.col-links {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin-left: 30px;
     grid-gap: 20px;
}

.col-links .sub-col a{
     display: block;
     margin-top: 20px;
     text-decoration: none;
     font-weight: bold;
     transition: .5s;
}
.col-links .sub-col a:hover{ 
     color: #f0ac00;
}


.social-row {
     margin-top: 80px;
     margin-left: 500px;
     color: red;
     font-size: 40px;
}

.copyright-row {
     margin-top: 150px;
     text-align: center;
}
